
<h1>Tweets ...</h1>

<div class="col-md-push-8">
<%= link_to '+ Tweet', new_status_path,:class=>"btn btn-default" %>
</div>

<% @statuses.each do |status| %>
  <div class="media row">
    <div class="media-left col-md-1">
      <a href="#">
        <img class="media-object" src="#" width="64" height="64" alt="ImageShot">
      </a>
    </div>
    <div class="media-body col-md-7">
      <h4 class="media-heading"><%= status.user.fullName %></h4>
      <p> <%= status.comment %> </p>
    </div>
    <div class="col-md-3 btn-group hidden">
      <%= link_to time_ago_in_words(status.created_at),status,:class=>"btn btn-sm btn-default" %>
      <%= link_to "EDIT",edit_status_path(status),:class=>"btn btn-sm btn-default" %>
      <%= link_to "DEL",status,method: :delete, data:{confirm:"Are you Sure?"},:class=>"btn btn-sm btn-default" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  jQuery.ready( 
  $("div.media.row").hover(function(){ $(this).find("div.col-md-3").toggleClass("hidden") } )
);
</script>