<!DOCTYPE html>
<html>
<head>
  <title>AppBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> 
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container" style="padding-top:50px">

	<header>
		<nav class="navbar navbar-default navbar-fixed-top">
		<%= link_to "ESS Soft Core",feed_path,:class=>"navbar-brand" %>
		<ul class="nav navbar-nav pull-right">
		<% if user_signed_in? %>
			<%= link_to image_tag(current_user.gravatar,:class=>"pix-nav img-circle"),current_user.username %>
			<li><%= link_to current_user.fullName,edit_user_registration_path %></li>
			<li><%= link_to "Log OFF",logout_path %></li>
		<% else %>
			<li><%= link_to "Register",register_path %>
			<li><%= link_to "Log IN",login_path %>
		<% end %>
		</ul>

		</nav>
	<header>
	<% flash.each do |type,msg| %>
	<div class="alert <%= flash_card type %>">
		<button class="close" data-dismiss="alert">x</button>
		<%= msg %>
	</div>
	<% end %>
	
<%= yield %>

	<span class="clearfix"></span>
	<footer class="panel panel-default" style="margin-top:50px">
	<div class="panel-heading">
		<p>&copy;All Right Reserved By ESS Indepencies Soft</p>
		</div>
	</footer>
</body>
</html>
