<!DOCTYPE html>
<html>
<head>
  <title>AppBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> 
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container" style="padding-top:50px">

	<header>
		<nav class="navbar navbar-default navbar-fixed-top">
		<%= link_to "ESS Soft Core",:root,:class=>"navbar-brand" %>
		</nav>
	<header>
	<% if flash[:notice] %>
	<p class="alert alert-info"><%= flash[:notice] %></p>
	<% elsif flash[:alert] %>
	<p class="alert alert-danger"><%= flash[:alert] if flash[:alert] %></p>
	<% end %>

<%= yield %>


	<footer class="panel panel-default" style="margin-top:50px">
	<div class="panel-heading">
		<p>&copy;All Right Reserved By ESS Indepencies Soft</p>
		</div>
	</footer>
</body>
</html>
